.MeetCreateBar__item{
    width: 46%;
    min-width: 300px;
    margin: 20px 10px;
    padding: 12px;
    border-radius: 12px;
    /*background-color: #0e78f9!important;*/
    cursor: pointer;
    transition: background-color .4s;
}

/*.MeetCreateBar__item:hover{*/
/*    background-color: #0058ce !important;*/
/*    transition: background-color .4s;*/
/*}*/

.meetCreateBar__button{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
    margin-bottom: 40px;
    border: 1px solid white;
}




.MeetNav__button{
    margin: 10px!important;
    borderRadius: 20px!important;
}

@media all and (max-width: 1200px){

    .MeetNav__button{
        margin: 15px!important;
        borderRadius: 20px!important;
        /*padding: 4px!important;*/
        min-width: 40px!important;
    }
    .MeetNav__button_centred{
        position: absolute;
        max-width: 230px;
    }
}
